__pycache__
.DS_Store
*.zip
*.cpg
*.dbf
*.prj
*.shp
*.shx
data/COG
data/gadm_raw
data/IDN
data/test_nb.py
data/.DS_Store
data/CRI/
data/MYS/
data/NOR/
data/NZL/
data/test_nb.ipynb
modules/__pycache__
GIS_viz.ipynb
main.py

