__pycache__
.DS_Store
*.zip
*.cpg
*.dbf
*.prj
*.shp
*.shx
data/COG
data/gadm_raw
data/IDN
data/test_nb.py
data/.DS_Store
data/CRI/
data/MYS/
data/NOR/
data/NZL/
data/test_nb.ipynb
modules/__pycache__
GIS_viz.ipynb

*.ipynb

# Environments
.venv
.env

# Application-specific things
forest-health-dashboard-a46da1e6e071.json
backend/data/*.csv

# Local notes
TODO.md
