# Google Earth Credentials
GOOGLE_EARTH_SERVICE_ACCOUNT="your-service-account-email"
GOOGLE_EARTH_KEY="/path/to/service-account-key.json"

# Google Earth Image Collection Information
COLLECTION_ID="MODIS/061/MCD12C1"
COLLECTION_BAND_NAME="Majority_Land_Cover_Type_1"

# Forest classes in default collection: 1=Evergreen Needleleaf, 2=Evergreen Broadleaf,
# 3=Deciduous Needleleaf, 4=Deciduous Broadleaf, 5=Mixed Forests
FOREST_ONLY="True"
FOREST_CODES_IN_COLLECTION=1,2,3,4,5

# Global Forest Watch Credentials
GFW_API_KEY="your-gfw-account-key"
GFW_ACCESS_TOKEN="your-gfw-access-token"

# Global Forest Watch Collection Information
GFW_DATASET="gadm__tcl__iso_change"
GFW_DATASET_VERSION="v20260407"
GFW_API_URL="https://www.globalforestwatch.org/api/data/dataset/"

# Global Administration Data
GADM_PATH = "data/global_adm_borders.geojson"
